@model Super_Book_Store.Models.Kho

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookName" />
            <div class="form-group">
                <label asp-for="NumberbBook" class="control-label"></label>
                <input asp-for="NumberbBook" class="form-control" />
                <span asp-validation-for="NumberbBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookStoreExists" class="control-label"></label>
                <input asp-for="BookStoreExists" class="form-control" />
                <span asp-validation-for="BookStoreExists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryBook" class="control-label"></label>
                <input asp-for="InventoryBook" class="form-control" />
                <span asp-validation-for="InventoryBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExportBook" class="control-label"></label>
                <input asp-for="ExportBook" class="form-control" />
                <span asp-validation-for="ExportBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
