@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng bạn đến với <b>Super Book Store</b></h1>
    <p>Được Làm bởi <a href="https://docs.microsoft.com/aspnet/core">NHÓM 4</a>.</p>
</div>
