@model Super_Book_Store.Models.NhaXuatBan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhaXuatBan</h4>
    <hr />
    <dl class="row">
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NXBName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NXBName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NXBName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
